<div id = "main" style=" height: 1950px;">
  <header>
    <div id="demo" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img style="width:1300px; height:195px;" src="../../assets/Pictures/argus_banner2.jpg" >
        </div>
        <div class="carousel-item">
          <img style="width:1300px; height:195px;" src="../../assets/Pictures/Banner_no_text-01.jpg">
        </div>
        <div class="carousel-item">
          <img style="width:1300px; height:195px;" src="../../assets/Pictures/ToS_Cleared_2-01.jpg">
        </div>
      </div>
    </div>
  </header>

<app-header></app-header>

  <div class="textFont" id="aboutUs" style="width:800px;">
    <h1 style="font-family: 'Aldrich';">Pescorus</h1>
    <p >


      <b>About us</b><br>
      Pescorus was founded during late Nighthold, by a handful of players that had raided together from Wrath of the Lich King through Mists of Pandaria under the same name.
      <br><br>
      The guild is focused on clearing content as efficiently as possible while maintaining a laid-back atmosphere outside of raids. We aim to better our performance from tier to tier, and are currently sitting at a world ranking of ~400. We are however very confident that we can drastically improve this going into Battle for Azeroth.
      <br><br>
      <b>What we look for in our players</b><br>
      <i>Attitude</i><br>
      You are motivated to raid, and have a drive to keep pushing the guild's world ranks. We recruit players for the long-term, and are ambitious for the future. If this is not in line with your own mindset, this is not the guild for you. We ask of you to behave maturely and respectfully towards other raiders and guild members. When you mess up during an encounter, you own up to it and do your best to learn from it. We expect this from you, and you can expect this from us.
      <br><br>
      <i>Preparation</i><br>
      We require you to be independent when it comes to raid preparation. Being a 2-day guild, the ratio of preparation time versus raid time is very high, and you are expected to make the most of it. This includes having a good idea of how to deal with the mechanics; planning out your cooldowns; knowing the optimal legendary and talent setup; downloading and familiarizing yourself with relevant WeakAuras beforehand; and participating in strategy discussions on Discord.
      <br><br>
      <i>Ability</i><br>
      Even though we are on a very relaxed schedule, Pescorus is not a guild for beginners. We expect you to know the ins and outs of your class, and play it at a very high level. Actively working on perfecting your gameplay is a trait that we desire strongly in our raiders. Analyzing logs and regularly discussing encounter-specific optimizations with other players of your class goes hand in hand with this.
      <br><br>
      <i>Attendance</i><br>
      We require our raiders to uphold a 90% or higher attendance rate. When you cannot make a raid, you communicate it to the officer team well in advance so adjustments can be made. Raids start at 20:00, meaning everyone is flasked up and ready to pull the boss at that time. Logging in three minutes before raid start is not appreciated.
      <br><br>
      <i>Communication</i><br>
      You are required to have a decent microphone and communicate with fellow raiders during (and preferably outside of) raids. During progress, strategy discussion is held on Discord often, and you are expected to read and ideally participate in these discussions. Good communication with people of your own class/role outside of raids is also valued greatly.
      <br><br>
      <b>Raid times</b><br>
      Thursday 20.00 – 00:00
      Monday 20.00 – 00:00<br><br>

      We never raid more than 2 days per week. We may decide to extend a raid for a few pulls after 00:00 if everyone is able and willing to do so. This happens extremely rarely, and is by no means the norm.
      <br><br>
      <b>Recruitment and application process</b><br>
      With Antorus in the rear-view mirror, we have opened recruitment for all classes and specs going into Battle for Azeroth. Many of our raiders are very flexible in what class they play, and roster adjustments are certainly possible to accommodate exceptional recruits.
      <br><br>
      The trial period typically lasts for eight raids, but may be extended based on consistency of your performance.
      <br><br>
      Applications can be made by filling out the form on our website, and is sent directly to our Email. You do not have to worry about the application being visible to the outside world as is the case on forums. After applying, you can expect a response within 48 hours. We usually invite applicants for a voice chat on Discord before fully accepting their application.
      <br><br>

      <b>Contact</b> <br>
      Questions may be directed to any of the officers either in-game or via Discord:<br>
      Naemesis (BattleTag: Naemesis#2526, Discord: Naemesis#6431)<br>
      Cyden (BattleTag: Lumo#21992, Discord: Lumo#0318)<br>
      Altrone (BattleTag: Altrone#21327, Discord: Altrone#5378)<br><br>

    </p>
  </div>
</div>
<footer>

</footer>
