<div id = "main">
  <header>
    <div id="demo" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img style="width:1300px; height:195px;" src="../../assets/Pictures/argus_banner2.jpg" >
        </div>
        <div class="carousel-item">
          <img style="width:1300px; height:195px;" src="../../assets/Pictures/Banner_no_text-01.jpg">
        </div>
        <div class="carousel-item">
          <img style="width:1300px; height:195px;" src="../../assets/Pictures/ToS_Cleared_2-01.jpg">
        </div>
      </div>
    </div>
  </header>

  <app-header></app-header>

  <div id="aboutUs">
    <iframe id="frame" frameBorder="0" scrolling="no" src="http://pescorus.eu/tracker/index.php">

    </iframe>
  </div>


</div>
<footer>

</footer>
