<nav class="navbar navbar-expand-sm navbar" id="navBar">
  <ul class="navbar-nav navbar-left">
    <li class="nav-item">

      <a id="homeNav" class="nav-link" routerLink="">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/aboutUs">About Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/roster">Roster</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/spreadsheet">Raiders Spreadsheet</a>
    </li>
    <li><a class="nav-link" target="_blank" href="https://www.warcraftlogs.com/guild/id/238024">Logs</a></li>
    <li class="nav-item">
      <a class="nav-link" href="https://pescorus.eu/forums/" target="_blank">Forums</a>
    </li>
  </ul>
  <ul class="navbar-nav">
    <li><a class="nav-link" routerLink="/application">Apply</a></li>

  </ul>
</nav>
