<div id = "main">
  <header>
    <div id="demo" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img style="width:1300px; height:195px;" src="../../assets/Pictures/argus_banner2.jpg" >
        </div>
        <div class="carousel-item">
          <img style="width:1300px; height:195px;" src="../../assets/Pictures/Banner_no_text-01.jpg">
        </div>
        <div class="carousel-item">
          <img style="width:1300px; height:195px;" src="../../assets/Pictures/ToS_Cleared_2-01.jpg">
        </div>
      </div>
    </div>
  </header>

<app-header></app-header>


  <div class="section-wrapper">
    <section class="section-inside">
      <article class="newsBox">
        <h3 style="color:#007fde;" >Argus dead, Legion is over!</h3>
        <div class="newsText">
          <img style="width:875px; height:450px;" src="../../assets/Pictures/Killshots/pesc_argus.jpg">

          <p class="textFont" style="padding:10px;">
            Finally, FINALLY, Argus has fallen. It may have taken bit longer than expected, but after all the struggle and some stressful nights, he crumbled. Proud of every single raider that participated on this boss, even if they weren't on the kill, and special thanks to people that were keeping the raid atmosphere up in hardest of the moments.
          </p>
        </div>
      </article>

      <article class="infoBox recr">
        <h3 style="color:#007fde;">Recruiting</h3>
        <div class="infoText">
          <table cellspacing="0" class="nospace">
            <tr>
              <td>
                <img class="recruits" src="../../assets/Pictures/Recruitment/ess-home-recruit-de.png" style="filter:grayscale(0%);">
                <br>
                <div class="specMouseOver">
                  <img class="spec" src="../../assets/Pictures/Recruitment/demonhunter/vengeance.jpg" style="filter:grayscale(95%);" data-toggle="tooltip" title="Vengeance">
                  <img class="spec" src="../../assets/Pictures/Recruitment/demonhunter/havoc.jpg" style="filter:grayscale(0%);" data-toggle="tooltip" title="Havoc">
                </div>

              </td>
              <td>
                <img class="recruits" src="../../assets/Pictures/Recruitment/ess-home-recruit-dk.png" style="filter:grayscale(0%);"  data-toggle="tooltip" title="Death Knight">
                <br>
                <div class="specMouseOver">
                  <img class="spec" src="../../assets/Pictures/Recruitment/deathknight/blood.png" style="filter:grayscale(95%);" data-toggle="tooltip" title="Blood">
                  <img class="spec" src="../../assets/Pictures/Recruitment/deathknight/frost.png" style="filter:grayscale(0%);" data-toggle="tooltip" title="Frost">
                  <img class="spec" src="../../assets/Pictures/Recruitment/deathknight/unholy.png" style="filter:grayscale(0%);" data-toggle="tooltip" title="Unholy">
                </div>
              </td>
              <td>
                <img class="recruits" src="../../assets/Pictures/Recruitment/ess-home-recruit-dr.png" style="filter:grayscale(0%);" data-toggle="tooltip" title="Druid">
                <br>
                <div class="specMouseOver">
                  <img class="spec" src="../../assets/Pictures/Recruitment/druid/balance.png" style="filter:grayscale(0%);" data-toggle="tooltip" title="Balance">
                  <img class="spec" src="../../assets/Pictures/Recruitment/druid/feral.png" style="filter:grayscale(0%);" data-toggle="tooltip" title="Feral">
                  <img class="spec" src="../../assets/Pictures/Recruitment/druid/guardian.png" style="filter:grayscale(95%);" data-toggle="tooltip" title="Guardian">
                  <img class="spec" src="../../assets/Pictures/Recruitment/druid/restoration.png" style="filter:grayscale(0%);" data-toggle="tooltip" title="Restoration">
                </div>
              </td>

              <td>
                <img class="recruits" src="../../assets/Pictures/Recruitment/ess-home-recruit-hu.png" data-toggle="tooltip" title="Hunter">
                <br>
                <div class="specMouseOver">
                  <img class="spec" src="../../assets/Pictures/Recruitment/hunter/beastmastery.png"  data-toggle="tooltip" title="Beastmastery">
                  <img class="spec" src="../../assets/Pictures/Recruitment/hunter/marksman.png"  data-toggle="tooltip" title="Marksman">
                  <img class="spec" src="../../assets/Pictures/Recruitment/hunter/survival.png" style="filter:grayscale(0%);" data-toggle="tooltip" title="Survival">
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <img class="recruits" src="../../assets/Pictures/Recruitment/ess-home-recruit-mo.png" style="filter:grayscale(0%);"  data-toggle="tooltip" title="Monk">
                <br>
                <div class="specMouseOver">
                  <img class="spec" src="../../assets/Pictures/Recruitment/monk/brewmaster.png" style="filter:grayscale(95%);" data-toggle="tooltip" title="Brewmaster">
                  <img class="spec" src="../../assets/Pictures/Recruitment/monk/mistweaver.png" style="filter:grayscale(0%);" data-toggle="tooltip" title="Mistweaver">
                  <img class="spec" src="../../assets/Pictures/Recruitment/monk/windwalker.png" style="filter:grayscale(0%);" data-toggle="tooltip" title="WindWalker">
                </div>
              </td>
              <td>
                <img class="recruits" src="../../assets/Pictures/Recruitment/ess-home-recruit-pa.png" style="filter:grayscale(0%);" data-toggle="tooltip" title="Paladin">
                <br>
                <div class="specMouseOver">
                  <img class="spec" src="../../assets/Pictures/Recruitment/paladin/holy.png" style="filter:grayscale(0%);" data-toggle="tooltip" title="Holy">
                  <img class="spec" src="../../assets/Pictures/Recruitment/paladin/protection.png" style="filter:grayscale(95%);" data-toggle="tooltip" title="Protection">
                  <img class="spec" src="../../assets/Pictures/Recruitment/paladin/retribution.png" style="filter:grayscale(0%);" data-toggle="tooltip" title="Retribution">
                </div>
              </td>

              <td>
                <img class="recruits" src="../../assets/Pictures/Recruitment/ess-home-recruit-pr.png" style="filter:grayscale(0%);"  data-toggle="tooltip" title="Priest">
                <br>
                <div class="specMouseOver">
                  <img class="spec" src="../../assets/Pictures/Recruitment/priest/discipline.png" style="filter:grayscale(0%);" data-toggle="tooltip" title="Discipline">
                  <img class="spec" src="../../assets/Pictures/Recruitment/priest/holy.png" style="filter:grayscale(0%);" data-toggle="tooltip" title="Holy">
                  <img class="spec" src="../../assets/Pictures/Recruitment/priest/shadow.png" style="filter:grayscale(0%);" data-toggle="tooltip" title="Shadow">
                </div>
              </td>
              <td>
                <img class="recruits" src="../../assets/Pictures/Recruitment/ess-home-recruit-ro.png" style="filter:grayscale(0%);" data-toggle="tooltip" title="Rogue">
                <br>
                <div class="specMouseOver">
                  <img class="spec" src="../../assets/Pictures/Recruitment/rogue/assassination.png" style="filter:grayscale(0%);" data-toggle="tooltip" title="Assassination">
                  <img class="spec" src="../../assets/Pictures/Recruitment/rogue/combat.png" style="filter:grayscale(0%);" data-toggle="tooltip" title="Combat">
                  <img class="spec" src="../../assets/Pictures/Recruitment/rogue/subtlety.png" style="filter:grayscale(0%);" data-toggle="tooltip" title="Subtlety">
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <img class="recruits" src="../../assets/Pictures/Recruitment/ess-home-recruit-sh.png" style="filter:grayscale(0%);" data-toggle="tooltip" title="Shaman">
                <br>
                <div class="specMouseOver">
                  <img class="spec" src="../../assets/Pictures/Recruitment/shaman/enhancement.png" style="filter:grayscale(0%);" data-toggle="tooltip" title="Enhancement">
                  <img class="spec" src="../../assets/Pictures/Recruitment/shaman/elemental.png" style="filter:grayscale(0%);" data-toggle="tooltip" title="Elemental">
                  <img class="spec" src="../../assets/Pictures/Recruitment/shaman/restoration.png" style="filter:grayscale(0%);" data-toggle="tooltip" title="Restoration">
                </div>
              </td>
              <td>
                <img class="recruits" src="../../assets/Pictures/Recruitment/ess-home-recruit-wa.png" style="filter:grayscale(0%);" data-toggle="tooltip" title="Warrior">
                <br>
                <div class="specMouseOver">
                  <img class="spec" src="../../assets/Pictures/Recruitment/warrior/arms.png" style="filter:grayscale(0%);" data-toggle="tooltip" title="Arms">
                  <img class="spec" src="../../assets/Pictures/Recruitment/warrior/fury.png" style="filter:grayscale(0%);" data-toggle="tooltip" title="Fury">
                  <img class="spec" src="../../assets/Pictures/Recruitment/warrior/protection.png" style="filter:grayscale(95%);" data-toggle="tooltip" title="Protection">
                </div>
              </td>
              <td>
                <img class="recruits" src="../../assets/Pictures/Recruitment/ess-home-recruit-wl.png" style="filter:grayscale(0%);" data-toggle="tooltip" title="Warlock">
                <br>
                <div class="specMouseOver">
                  <img class="spec" src="../../assets/Pictures/Recruitment/warlock/affliction.png" style="filter:grayscale(0%);" data-toggle="tooltip" title="Affliction">
                  <img class="spec" src="../../assets/Pictures/Recruitment/warlock/demonology.png" style="filter:grayscale(0%);" data-toggle="tooltip" title="Demonology">
                  <img class="spec" src="../../assets/Pictures/Recruitment/warlock/destruction.png" style="filter:grayscale(0%);" data-toggle="tooltip" title="Destruction">
                </div>
              </td>
              <td>
                <img class="recruits" src="../../assets/Pictures/Recruitment/ess-home-recruit-ma.png" data-toggle="tooltip" title="Mage">
                <br>
                <div class="specMouseOver">
                  <img class="spec" src="../../assets/Pictures/Recruitment/mage/frost.png" data-toggle="tooltip" title="Frost">
                  <img class="spec" src="../../assets/Pictures/Recruitment/mage/fire.png" data-toggle="tooltip" title="Fire">
                  <img class="spec" src="../../assets/Pictures/Recruitment/mage/arcane.png" data-toggle="tooltip" title="Arcane">
                </div>
              </td>
            </tr>
          </table>
        </div>
      </article>
    </section>
  </div>
  <div class="section-wrapper">
    <section class="section-inside">
      <article class="infoBox prog">
        <h3 style="color:#007fde;">Progress</h3>
        <ul id="categories" class="crl" style="padding-left:30px;">
          <li>
            <div>
              <img alt="Antorus, " style="color:#007fde; font-size:0.7em">
              <img alt="the Burning" style="margin-top:11px; color:#007fde; font-size:0.7em">
              <img alt="Throne" style="margin-top:22px; color:#007fde; font-size:0.7em">
              <h5 style="font-size:0.9em; visibility:hidden;"> </h5>
              <p style="font-size:0.7em;">11 / 11</p>
            </div>
          </li>
          <li>
            <div>
              <h1 style="font-size:0.7em;">Garothi Worldbreaker</h1>
              <div class="container">
                <img class="borderP" style="opacity:1;" src="../../assets/Pictures/Progress%20Antorus/ui-ej-boss-garothiworldbreaker.png">
                <img class="cross" src="../../assets/Pictures/x-png-18 (1).png">
              </div>
              <p style="font-size:0.7em;">07/12/2017</p>
            </div>
          </li>
          <li>
            <div>
              <h1 style="font-size:0.7em;">Felhounds of Sargeras </h1>
              <div class="container">
                <img class="borderP" style="opacity:1;" src="../../assets/Pictures/Progress%20Antorus/ui-ej-boss-felhoundsofsargeras.png">
                <img class="cross" src="../../assets/Pictures/x-png-18 (1).png">
              </div>
              <p style="font-size:0.7em;">07/12/2017</p>
            </div>
          </li>
          <li>
            <div>
              <h1 style="font-size:0.65em;">Antoran High Command</h1>
              <div class="container">
                <img class="borderP" style="opacity:1;" src="../../assets/Pictures/Progress%20Antorus/ui-ej-boss-warcouncil.png">
                <img class="cross" src="../../assets/Pictures/x-png-18 (1).png">
              </div>
              <p style="font-size:0.7em;">11/12/2017</p>
            </div>
          </li>
          <li>
            <div>
              <h1 style="font-size:0.60em;">Portal Keeper Hasabel </h1>
              <div class="container">
                <img class="borderP" style="opacity:1;" src="../../assets/Pictures/Progress%20Antorus/ui-ej-boss-portalkeeperhasabel.png">
                <img class="cross" src="../../assets/Pictures/x-png-18 (1).png">
              </div>
              <p style="font-size:0.7em;">11/12/2017</p>
            </div>
          </li>
          <li>
            <div>
              <h1 style="font-size:0.6em;">Eonar the Life-Binder</h1>
              <div class="container">
                <img class="borderP" style="opacity:1;" src="../../assets/Pictures/Progress%20Antorus/ui-ej-boss-eonar.png">
                <img class="cross" src="../../assets/Pictures/x-png-18 (1).png">
              </div>
              <p style="font-size:0.7em;">18/12/2017 </p>
            </div>
          </li> <li>
          <div>
            <h1 style="font-size:0.65em;">Imonar the Soulhunter</h1>
            <img class="borderP" style="opacity:1;" src="../../assets/Pictures/Progress%20Antorus/ui-ej-boss-imonarthesoulhunter.png">
            <img class="cross" src="../../assets/Pictures/x-png-18 (1).png">
            <p style="font-size:0.7em;">22/12/2017 </p>
          </div>
        </li> <li>
          <div>
            <h1 style="font-size:0.75em;">Kin'garoth</h1>
            <img style="opacity:1;" class="borderP" src="../../assets/Pictures/Progress%20Antorus/ui-ej-boss-kingaroth.png">
            <img class="cross" src="../../assets/Pictures/x-png-18 (1).png">
            <p style="font-size:0.7em;">02/01/2018 </p>
          </div>
        </li> <li>
          <div>
            <h1 style="font-size:0.75em;">Varimathras</h1>
            <img style="opacity:1;" class="borderP" src="../../assets/Pictures/Progress%20Antorus/ui-ej-boss-varimathras.png">
            <img class="cross" src="../../assets/Pictures/x-png-18 (1).png">
            <p style="font-size:0.7em;">15/01/2018 </p>
          </div>
        </li> <li>
          <div>
            <h1 style="font-size:0.6em;">The Coven of Shivarra</h1>
            <img style="opacity:1;" class="borderP" src="../../assets/Pictures/Progress%20Antorus/ui-ej-boss-thecovenofshivarra.png">
            <img class="cross" src="../../assets/Pictures/x-png-18 (1).png">
            <p style="font-size:0.7em;">15/01/2018 </p>
          </div>
        </li> <li>
          <div>
            <h1 style="font-size:0.9em;">Aggramar</h1>
            <img style="opacity:1;" class="borderP" src="../../assets/Pictures/Progress%20Antorus/ui-ej-boss-aggramar.png">
            <img class="cross" src="../../assets/Pictures/x-png-18 (1).png">
            <p style="font-size:0.7em;">01/02/2018 </p>
          </div>
        </li>
          <li>
            <div>
              <h1 style="font-size:0.65em;">Argus the Unmaker</h1>
              <img style="opacity:1;" class="borderP" src="../../assets/Pictures/Progress%20Antorus/ui-ej-boss-argustheunmaker.png">
              <img class="cross" src="../../assets/Pictures/x-png-18 (1).png">
              <p style="font-size:0.7em;">13/03/2018 </p>
            </div>
          </li>
        </ul>
      </article>
    </section>
  </div>

  <div class="section-wrapper">
    <section class="section-inside">
      <article class="newsBox">
        <h3 style="color:#007fde;" >Aggramar down, 10/11M!</h3>
        <div class="newsText">
          <a href="https://www.youtube.com/watch?v=A2u-bxF4HzE" target="_blank"><img src="../../assets/Pictures/Killshots/pesc aggra.jpg">  </a>

          <p class="textFont" style="padding:10px;">
            Finally something challenging in this raid. After 95 wipes, flameboi got defeated.
            There is one more boss standing in front of us, and that's Argus himself. Let's see how long will he last!
          </p>
        </div>
      </article>
    </section>
  </div>



  <div class="section-wrapper">
    <section class="section-inside">
      <article class="newsBox">
        <h3 style="color:#007fde;" >Kin'Garoth down, 7/11M!</h3>
        <div class="newsText">
          <iframe width="875" height="450" src="https://www.youtube.com/embed/GPWMFZBECPQ" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>

          <p class="textFont" style="padding:10px;">
            Boom boom
          </p>
        </div>
      </article>
    </section>
  </div>
  <div class="section-wrapper">
    <section class="section-inside">
      <article class="newsBox">
        <h3 style="color:#007fde;" >Imonar down, 6/11M!</h3>
        <div class="newsText">
          <iframe width="875" height="450" src="https://www.youtube.com/embed/RHfGQaPR7w8" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>

          <p class="textFont" style="padding:10px;">
            As long as you don't put your fellow melee players asleep with canisters and your tanks aren't in a wheelchair, it's an easy boss. Onwards to Kin'Garoth now!
          </p>
        </div>
      </article>
    </section>
  </div>
  <div class="section-wrapper">
    <section class="section-inside">
      <article class="newsBox">
        <h3 style="color:#007fde;" >Eonar defended, 5/11M!</h3>
        <div class="newsText">
          <iframe width="875" height="450" src="https://www.youtube.com/embed/DlC7zC8Vs70" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
          <p class="textFont" style="padding:10px;">
            Fuck this boss, seriously.
          </p>
        </div>
      </article>
    </section>
  </div>
  <div class="section-wrapper">
    <section class="section-inside">
      <article class="newsBox">
        <h3 style="color:#007fde;" >Portal Keeper down, 4/11M!</h3>
        <div class="newsText">
          <iframe width="875" height="450" src="https://www.youtube.com/embed/clhjgC2sy5I" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
          <p class="textFont" style="padding:10px;">
            "Ooogh, I fucked up" - Gort 2017
          </p>
        </div>
      </article>
    </section>
  </div>
  <div  class="section-wrapper">
    <section class="section-inside">
      <article class="newsBox">
        <h3 style="color:#007fde;" >Antoran High Command down, 3/11M!</h3>
        <div class="newsText">
          <iframe width="875" height="450" src="https://www.youtube.com/embed/wm4Tq4OfhuY" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
          <p class="textFont" style="padding:10px;">
            Command has been conquered in 2 pulls, another easy boss!
          </p>
        </div>
      </article>
    </section>
  </div>
</div>
<footer>

</footer>

